@model LibraryManagementSystemProject.Models.Entity.TBLUYELER
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kayıt Ol Ekranı</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Course Register Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="~/webregister/css/style.css" type="text/css" rel="stylesheet" media="all">


    <link rel="stylesheet" href="~/webregister/css/font-awesome.css">

</head>
<body>
    <section class="register">
        <div class="register-full">
            <div class="register-left">
                <div class="register">
                    <div class="logo">
                        <a href="#"><span class="fa fa-graduation-cap" aria-hidden="true"></span></a>
                    </div>
                    <h1>Kütüphanemize Hoş Geldiniz </h1>
                    <p>
                        Kütüphanemize kayıt olmak için sağ tarafta bulunan paneldeki kutucukları eksiksiz şekilde doldurarak kayıt olabilirsiniz.
                    </p>
                    <div class="content3">
                        <ul>
                            <li><a class="" href="/Login/GirisYap">Giriş Yap</a></li>
                            <li><a class="read" href="/Vitrin/Index/">Siteye Dön</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="register-right">
                <div class="register-in">
                    <h2><span class="fa fa-pencil"></span> KAYIT OL</h2>
                    <div class="register-form">
                        <form action="#" method="post">
                            <div class="fields-grid">
                                <div class="styled-input agile-styled-input-top">
                                    <input type="text" name="AD" required="">
                                    <label>AD</label>
                                    <span></span>
                                </div>
                                <div class="styled-input agile-styled-input-top">
                                    <input type="text" name="SOYAD" required="">
                                    <label>SOYAD</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="email" name="MAIL" required="">
                                    <label>E-MAİL</label>
                                    <span></span>
                                </div>
                                <div class="styled-input agile-styled-input-top">
                                    <input type="text" name="KULLANICIADI" required="">
                                    <label>KULLANICI ADI</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="password" name="SİFRE" required="">
                                    <label>ŞİFRE</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="tel" name="TELEFON" required="">
                                    <label>TELEFON NUMARASI</label>
                                    <span></span>
                                </div>

                                <div class="styled-input">
                                    <input type="text" name="OKUL" required="">
                                    <label>OKUL</label>
                                    <span></span>
                                </div>

                                @*<div class="styled-input agile-styled-input-top">
                                        <select id="category2" required="">
                                            <option value="">OKULUNUZU SEÇİN*</option>
                                            <option value="">Sakarya Üniversitesi</option>
                                            <option value="">Bahçeşehir Üniversitesi</option>
                                            <option value="">Gazi Üniversitesi</option>
                                            <option value="">Boğaziçi Üniversitesi</option>
                                            <option value="">Anadolu Üniversitesi</option>
                                            <option value="">İstanbul Üniversitesi</option>
                                            <option value="">İstanbul Teknik Üniversitesi</option>
                                            <option value="">ODTÜ</option>
                                            <option value="">Hacettepe Üniversitesi</option>
                                            <option value="">Kocaeli Üniversitesi</option>
                                        </select>
                                        <span></span>
                                    </div>*@
                                <div class="clear"> </div>
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked><i><a href="/Login/kosul/"> Hüküm ve Koşulları </a></i>kabul ediyorum. </label>
                            </div>
                            <input type="submit" value="Kayıt Ol">
                        </form>
                    </div>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
        </div>
    </section>
</body>
</html>