
@{
    Layout = null;
}

<br />
<br />
<div class="row justify-content-center">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#Modal1" style="font-weight:900;font-size:xx-large;color:black; background-color:pink ">
        Hüküm ve Koşullar
    </button>
</div>
<br />
<br />
<br />
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="font-weight:900; color:deeppink">Hüküm ve Koşullar</h2>
            </div>
            <form>
                <div class="modal-body">
                    <label style="color:black">
                        Merhaba, web sitemize hoş geldiniz. Bu hüküm ve koşullar, internet ortamında bir web sitesinin işleyişini düzenleyen çok sayıda yasa dikkate alınarak hazırlanmıştır. Hüküm ve koşullar; telif hakkıyla korunan materyalin ve diğer fikri mülkiyet haklarının korunması ve bilgilerin sunumu, toplanması ve kullanılması gibi önem arz eden farklı konuları kapsamaktadır.
                        <br />
                        LİSANSIN ESASLARI <br />
                        a. Bu Hükümler, Ürünlerin tedariki ve kullanılmasına ilişkin olarak Siz ve Aile Rehberimiz arasındaki sözleşmenin tamamını düzenlemektedir.
                        b. Lütfen kendinizi Ürünleri satın alma yükümlülüğü ile bağlamadan önce işbu Hükümler ve Sipariş’e ait ayrıntıların doğruluk ve eksiksizliğini kontrol ediniz.
                        c. Ürünleri kullanmanız ile birlikte, ödemelerin işlenmesi ve Ürünlerin bireysel kullanımının izlenmesi amaçlarıyla yapılacak veri işleme ve saklama faaliyetleri de dahil olmak üzere kişisel verilerinizin Türkiye Cumhuriyeti içerisinde ve dışında işlenmesine ve saklanmasına rıza göstermiş olursunuz. Bu doğrultuda Ürünleri kullanarak, Türkiye Cumhuriyeti ve verilerinizin işlenip saklanabileceği diğer ülkelerdeki veri koruma seviyesinin ikamet ettiğiniz ülke ile aynı düzeyde olmayabileceğini anlamış ve kabul etmiş sayılırsınız. Söz konusu kişisel verilerin; aktarılması, saklanması ve kullanılmasına ilişkin olarak yürürlükteki hukuki düzenlemelere uyum noktasında gerekli önlemler tarafımızdan alınacaktır.
                    </label>
                </div>

            </form>
        </div>
    </div>
</div>
