
@{
    ViewBag.Title = "HavaKart";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/40d6930d44/sakarya/" data-label_1="SAKARYA" data-label_2="Hava Durumu" data-theme="weather_one">SAKARYA Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/41d0128d98/istanbul/" data-label_1="İSTANBUL" data-label_2="Hava Durumu" data-theme="weather_one">İSTANBUL Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/40d1929d06/bursa/" data-label_1="BURSA" data-label_2="Hava Durumu" data-theme="weather_one">BURSA Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/40d8529d88/kocaeli/" data-label_1="KOCAELI" data-label_2="Hava Durumu" data-theme="weather_one">KOCAELI Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/39d9332d86/ankara/" data-label_1="ANKARA" data-label_2="Hava Durumu" data-theme="weather_one">ANKARA Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/40d0526d99/canakkale/" data-label_1="ÇANAKKALE" data-label_2="Hava Durumu" data-theme="weather_one">ÇANAKKALE Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/41d0039d72/trabzon/" data-label_1="TRABZON" data-label_2="Hava Durumu" data-theme="weather_one">TRABZON Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/36d9030d71/antalya/" data-label_1="ANTALYA" data-label_2="Hava Durumu" data-theme="weather_one">ANTALYA Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>